* {
    font-weight: normal;
  }
  html {
    font-size: 0.0277vw !important;
    font-family: "Poppins", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    font-size: 32rem;
    font: 9pt/1.5em "Poppins";
    font-weight: 400;
    line-height: 1.5;
    color: #151515;
    text-align: left;
    background-color: #fff;
    margin: 0;
    transition: 0.6s;
    * {
      transition: 0.6s;
    }
    &.page {
      margin: 0;
    }
    .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
              transition: 0s;
  }
  }
  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  ::-webkit-scrollbar {
    background: #fff;
    width: 25rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-left: 1rem solid #fff; 
    background: #137163;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 11px -4px black;
  }