* {
  font-weight: normal;
}
html {
  font-size: 0.0277vw;
  font-family: $roboto;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
body {
  font-size: 32rem;
  font: 9pt/1.5em $roboto;
  font-weight: 400;
  line-height: 1.5;
  color: #151515;
  text-align: left;
  background-color: #fff;
  margin: 0;
  transition: 0.6s;
  * {
    transition: 0.6s;
  }
  .fancybox__track {
    transition: 0s;
    * {
      transition: 0s;
    }
  }
  .fancybox__thumbs.is-draggable {
    transition: 0s;
    * {
      transition: 0s;
    }
  }
  &.page {
    margin: 0;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0s;
  }
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
