@font-face {
    font-family: "Distro";
    src: url("./fonts/distro//Distro.eot");
    src: url("./fonts/distro//Distro.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//Distro.woff2") format("woff2"),
      url("./fonts/distro//Distro.woff") format("woff"),
      url("./fonts/distro//Distro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro Bev";
    src: url("./fonts/distro//DistroBev.eot");
    src: url("./fonts/distro//DistroBev.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroBev.woff2") format("woff2"),
      url("./fonts/distro//DistroBev.woff") format("woff"),
      url("./fonts/distro//DistroBev.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro Mix";
    src: url("./fonts/distro//DistroMix.eot");
    src: url("./fonts/distro//DistroMix.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroMix.woff2") format("woff2"),
      url("./fonts/distro//DistroMix.woff") format("woff"),
      url("./fonts/distro//DistroMix.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro Extinct";
    src: url("./fonts/distro//DistroExtinct.eot");
    src: url("./fonts/distro//DistroExtinct.eot?#iefix")
        format("embedded-opentype"),
      url("./fonts/distro//DistroExtinct.woff2") format("woff2"),
      url("./fonts/distro//DistroExtinct.woff") format("woff"),
      url("./fonts/distro//DistroExtinct.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro Vinyl";
    src: url("./fonts/distro//DistroVinyl.eot");
    src: url("./fonts/distro//DistroVinyl.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroVinyl.woff2") format("woff2"),
      url("./fonts/distro//DistroVinyl.woff") format("woff"),
      url("./fonts/distro//DistroVinyl.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro";
    src: url("./fonts/distro//DistroHeavy.eot");
    src: url("./fonts/distro//DistroHeavy.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroHeavy.woff2") format("woff2"),
      url("./fonts/distro//DistroHeavy.woff") format("woff"),
      url("./fonts/distro//DistroHeavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro Toast";
    src: url("./fonts/distro//DistroToast.eot");
    src: url("./fonts/distro//DistroToast.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroToast.woff2") format("woff2"),
      url("./fonts/distro//DistroToast.woff") format("woff"),
      url("./fonts/distro//DistroToast.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro Bats";
    src: url("./fonts/distro//DistroBats.eot");
    src: url("./fonts/distro//DistroBats.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroBats.woff2") format("woff2"),
      url("./fonts/distro//DistroBats.woff") format("woff"),
      url("./fonts/distro//DistroBats.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro";
    src: url("./fonts/distro//Distro-Bold.eot");
    src: url("./fonts/distro//Distro-Bold.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//Distro-Bold.woff2") format("woff2"),
      url("./fonts/distro//Distro-Bold.woff") format("woff"),
      url("./fonts/distro//Distro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro";
    src: url("./fonts/distro//DistroLight.eot");
    src: url("./fonts/distro//DistroLight.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroLight.woff2") format("woff2"),
      url("./fonts/distro//DistroLight.woff") format("woff"),
      url("./fonts/distro//DistroLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Distro";
    src: url("./fonts/distro//DistroBlack.eot");
    src: url("./fonts/distro//DistroBlack.eot?#iefix") format("embedded-opentype"),
      url("./fonts/distro//DistroBlack.woff2") format("woff2"),
      url("./fonts/distro//DistroBlack.woff") format("woff"),
      url("./fonts/distro//DistroBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  